@import '../../assets/styles/core/core';

.custom-button {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    width: auto;
    min-width: $button-min-width;
    height: $button-height;
    padding: $button-padding-y $button-padding-x;
    background-color: $black;
    letter-spacing: 0.5px;
    @include font-size(15px);
    line-height: 50px;
    @include family-text;
    font-weight: bolder;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        border-color: $black;
        background-color: $white;
        color: $black;
    }

    &.inverted {
        border-color: $black;
        background-color: $white;
        color: $black;

        &:hover {
            border-color: $white;
            background-color: $black;
            color: $white;
        }
    }

    &.google-sign-in {
        background-color: $google-blue;
        color: $white;

        &:hover {
            background-color: $google-blue-hoover;
            border-color: $google-blue-hoover;
        }
    }
}
