@charset "utf-8";

// Fonts
@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('../../fonts/OpenSansCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('../../fonts/OpenSansCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansCondensedLightItalic';
    src: url('../../fonts/OpenSansCondensed-LightItalic.ttf') format('truetype');
}

// Colours
$white: #FFF;
$black: #333;

$grey-500: #808080;
$grey-900: #4A4A4A;

$google-blue: #4285F4;
$google-blue-hoover: #357AE8;

// Body
$body-padding-y: 1.25rem !default;
$body-padding-x: 3.75rem !default;

// Header
$header-height: 4.375rem !default;
