@import '../../assets/styles/core/core';

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    height: $header-height;

    .logo-container {
        width: 70px;
        height: 100%;
        padding: 25px;
    }
}
